{% extends 'base.html.twig' %}

{% block title %}
    Mise à jour d'un model
{% endblock %}

{% block body %}
<section class="container mt-2 col-md-6">
    <h1 class="text-center"> Mise à jour d'un model</h1>
    {{ form_start(form, {attr: {class: 'card w-75 mx-auto mt-2'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}
</section>
{% endblock %}
