<form action="{{ path('admin.genres.delete', {id: genre.id}) }}" method="post"
      onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce genre ?')" class="col-md-3">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button type="submit" class="btn btn-danger">Supprimer</button>
</form>