{% extends 'base.html.twig' %}

{% block title %}
    Création d'une taxe
{% endblock %}

{% block body %}
    <section class="container mt-2 col-md-6">
        <h1 class="text-center">Création d'une taxe</h1>
        {{ form_start(form, {attr: {class: 'card w-75 mx-auto mt-2'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
